{% extends "index.html" %}
{% block title %}Scholar Trail - Home{% endblock title %}
{% load static %}
{% block content %}
<!-- Card Style -->
<style>
    .card {
        width: 18rem;
        transition: box-shadow 0.3s ease;
    }

    .card:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
</style>


    {% if thumbnails %}
    <!-- Thumbnail Section -->
    <section class="home-slider owl-carousel bg-danger" style="touch-action: pan-y;">
    {% for thumbnail in thumbnails %}
    <div class="slider-item" style="background-image:url('{{thumbnail.background_image.url}}'); ">
        <div class="overlay bg-danger"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">{{thumbnail.title_name|default:""}}</h1>
            <p>{{thumbnail.sub_title|default:""}}</p>
            <p><a href="#" onclick="navigate('about-us')" class="btn btn-primary px-4 py-3 mt-3" >Contact Us</a></p>
        </div>
        </div>
        </div>
    </div>
    {% endfor %}
    </section>
    {% endif %}

<!-- Why Choose Us Section -->
   <section class="ftco-section ftco-counter img bg-danger" id="section-counter" style="background-image: url();" data-stellar-background-ratio="0.5">
    <div class="container">
    		<div class="row justify-content-center mb-5  d-flex">
          <div class="col-md-6 heading-section heading-section-white ftco-animate">
            <h2 class="text-center">Why Choose Us</h2>
          </div>
        </div>	
    <div class="container container-choose-us">    
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-12">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="services-2 d-flex">
                        <div class="text pl-3">
                            <h3 class="text-white font-weight-bolder">Expert Guidance for Multiple Exams</h3>
                            <p class="text-white-50">Our team of highly qualified tutors, led by the dynamic Jesika, is well-versed in the nuances of exams such as GRE, GMAT, PTE, TOEFL, and IELTS. We provide targeted guidance and strategies to help you navigate the unique challenges of each test.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-2 d-flex">
                        <div class="text pl-3">
                        <h3 class="text-white font-weight-bolder">Focused Coaching for Success</h3>
                            <p class="text-white-50">Our team focuses on honing the skills necessary for success in foreign entrance examinations, be it analytical thinking for GRE, quantitative reasoning for GMAT, or language proficiency for PTE, TOEFL, and IELTS.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-2 d-flex">
                        <div class="text pl-3">
                            <h3 class="text-white font-weight-bolder">Customized Exam Preparation</h3>
                            <p class="text-white-50">Recognizing that each exam has its distinct format and requirements, our coaching is specifically designed to address the nuances of GRE’s analytical writing, GMAT’s integrated reasoning, PTE’s speaking section, TOEFL’s listening comprehension, and IELTS’s academic writing, among others.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services-2 d-flex">
                        <div class="text pl-3">
                            <h3 class="text-white font-weight-bolder">Proven Results Across Exams</h3>
                            <p class="text-white-50">Our success stories extend across a spectrum of foreign entrance examinations. Many students have not only met but exceeded their score goals, unlocking doors to international education and career opportunities..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% if courses %}
<!-- Courses List Section -->
<section id="course-section" class="ftco-section">
    <div class="container-fluid px-4">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Our</span> Courses</h2>
            </div>
        </div>
        <div class="row">
            {% for course in courses %}
            <div class="col-md-4 col-sm-12 course d-flex justify-content-center ftco-animate text-center">
                <div class="card d-flex align-items-stretch" style="width: 18rem;">
                    <img src="{{course.image.url}}" class="card-img-top" style="object-fit: contain; height: 191px;"
                        alt="{{course.course_name}}-Image">
                    <div class="card-body">
                        <h5 class="card-title">{{course.course_name|default:""}}</h5>
                        <p class="card-text">{{course.description|default:""}}</p>
                        <button type="button" class="btn btn-primary" onclick="getCourse('{{ course.id }}')"
                            id="enroll_csrf_token">Enroll Now</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!-- Course Enroll Modal -->
<div class="modal fade" id="modal-dialog" tabindex="-1" aria-labelledby="modal-dialog-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-dialog-label">Enroll Now</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="closeModal()"></button>
            </div>
            <div class="modal-body">
                <!-- Your form elements go here -->
                <form id="course_enroll_form">
                    {% csrf_token %}
                    <div id="enroll-message"></div>
                    <div id="course_enroll_modal_body"></div>
                    {{ form.as_p }}
                    <button id="submit_course_enroll_form" type="submit" onclick="createEnrollment()"
                        class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Teachers List Section -->
{% if teachers %}
    <section id="trainers-section" class="ftco-section bg-light">
        <div class="container-fluid px-4">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4">Our Trainers</h2>
                </div>
            </div>
            <div class="owl-carousel carousel-testimony">
                {% for teacher in teachers %}
                <div class="item">
                        <div  style="display:flex;align-items: center;justify-content: center;">
                            <img src="{{teacher.profile_picture.url}}" alt=""  width="200px" height="300px"   >
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>{{teacher.first_name|default:""}}{{teacher.last_name|default:"" }}</h3>
                            <span class="position mb-2">{{teacher.position|default:""}}</span>
                            <div class="faded">
                                <p class="text text-lg-start">{{teacher.short_description|linebreaks|truncatechars:100|default:""}}
                                </p>
                                <button class="btn btn-primary" onclick="getTeacherDetail('{{teacher.id}}')">Read More
                                    <i class="ion-ios-arrow-forward"></i></button>
                            </div>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
<div class="modal fade" id="teacher-modal-dialog" tabindex="-1" aria-labelledby="teacher-modal-dialog-label"
aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="teacher-modal-body">
            
        </div>
    </div>
</div>
{% endif %}


<!-- Contact Us Section -->
<section class="ftco-section ftco-counter img bg-danger" id="about-us"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center  pb-2 d-flex">
            <div class="col-md-6 py-5 ">
                <div class="heading-section heading-section-white ftco-animate mb-5">
                    <h2 class="mb-4">Stay In Touch</h2>
                </div>
                <div id="contact_us_form"></div>
                <form method="POST" class="appointment-form ftco-animate" onsubmit="contactForm(event)">
                    {% csrf_token %}
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" name="first_name" class="form-control" placeholder="First Name">
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group ml-md-4">
                            <input type="text" name="phone_number" class="form-control" placeholder="Phone">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <textarea name="message" id="" cols="30" rows="2" class="form-control"
                                placeholder="Message"></textarea>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
                <h2 class="mb-4">About Us</h2>
                <p>Welcome to My World! I'm Jesika, your guide on an exciting journey of English education. Once an
                    engineer at Infosys, I discovered my true passion for teaching, particularly in IELTS and Spoken
                    English.</p>
                <p>My career transitioned into a vibrant tapestry of tutoring, and what drives me is the limitless
                    potential of online teaching. Embracing technology, I connect with English enthusiasts worldwide
                    through platforms like Skype, blending tradition with innovation.</p>
                <p>Currently, my focus is on online IELTS coaching, where I passionately assist individuals in mastering
                    English and acing their exams. The future holds boundless possibilities, as I constantly brainstorm
                    ideas to provide even more value. Stay tuned for what's on the horizon!</p>
            </div>
        </div>
    </div>
</section>

{% include "includes/footer.html" %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
            var isTouchDevice = 'ontouchstart' in document.documentElement;
            if (isTouchDevice) {
                $('.home-slider').owlCarousel({
                    touchDrag: false
                });
            }
        });
    function getTeacherDetail(id) {
            console.log(id);
            function closeTeacherModal() {
                var teacherModal = new bootstrap.Modal(document.getElementById('teacher-modal-dialog'));
                teacherModal.hide();
                document.getElementById('teacher-modal-dialog').innerHTML = '';
            }

            function openTeacherModal() {
                var teacherModal = new bootstrap.Modal(document.getElementById('teacher-modal-dialog'));
                teacherModal.show();
            }

            $(document).ready(function () {
                $.ajax({
                    type: 'GET',
                    url: '/teacher/detail/' + id,
                    success: function (response) {
                        document.getElementById('teacher-modal-body').innerHTML=""
                        openTeacherModal();
                        document.getElementById('teacher-modal-body').innerHTML += `
                        <div class="modal-header">
                            <h5 class="modal-title" id="teacher-modal-dialog-label">${response.data.first_name} ${response.data.last_name !== null ? response.data.last_name : ""} <span class="text text-danger">${response.data.position}<span></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="closeTeacherModal()"></button>
                        </div>
                        <div class="modal-body" >
                            <div class="container">
                            <div class="row">
                                <div class="col-3">
                                <img src="${response.data.profile_picture}" class="img-fluid border border-2 border-danger" alt="${response.data.first_name} Image">
                                </div>
                                <div class="col">
                                <p>${response.data.short_description.replace(/\n/g, '<br>')}</p>
                                </div>
                            </div>
                            </div> 
                        </div>
                `;
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });
        }
    function contactForm(event) {
        event.preventDefault();
        var formData = $('.appointment-form').serialize();

        $.ajax({
            type: 'POST',
            url: '/contact/us/',
            data: formData,
            success: function (response) {
                $('.contact-error-message').remove();
                if (response.status === 201) {
                    $('#contact_us_form').html(`
                    <div class="alert alert-success" role="alert">
                        ${response.message}
                    </div>
                `);

                    // Reset the form
                    document.querySelector('.appointment-form').reset();

                    setTimeout(function () {
                        $('#contact_us_form').fadeOut('slow');
                    }, 4000);
                } else if (response.status === 400 && response.errors) {
                    $.each(response.errors, function (field, error) {
                        var inputField = $('[name="' + field + '"]');
                        inputField.after('<div class="contact-error-message text-white">' + error + '</div>');
                    });
                } else {
                    console.error("Something Went Wrong");
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function createEnrollment() {
        event.preventDefault();
        var formData = $('#course_enroll_form').serialize();
        let course = JSON.parse(localStorage.getItem("course"))
        if (course) {
            $.ajax({
                type: 'POST',
                url: '/enroll/' + course.id + '/',
                data: formData,
                success: function (response) {
                    $('.error-message').remove();
                    if (response.status === 201) {
                        document.getElementById('enroll-message').innerHTML = `
                <div class="alert alert-success" role="alert">
                  ${response.message}
                </div>
                `
                        const form = document.getElementById('course_enroll_form')
                        form.reset()
                        setTimeout(function () {
                            $('#enroll-message').fadeOut('slow');
                        }, 4000);
                    } else if (response.status === 400 && response.errors) {
                        $.each(response.errors, function (field, error) {
                            var inputField = $('#id_' + field);
                            inputField.after('<div class="error-message text-danger">' + error + '</div>');
                        });
                    } else {
                        console.error("Somethind Went Wrong")
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    }

    function getCourse(course_id) {
        var csrf_token = document.getElementById('enroll_csrf_token').value;

        function openEnrollModal() {
            var EnrollModal = new bootstrap.Modal(document.getElementById('modal-dialog'));
            EnrollModal.show();
        }

        $.ajaxSetup({
            headers: { "X-CSRFToken": csrf_token }
        });

        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/enroll/' + course_id + '/',
                success: function (response) {
                    localStorage.setItem("course", JSON.stringify(response.data))
                    document.getElementById('course_enroll_modal_body').innerHTML += ""
                    document.getElementById('course_enroll_modal_body').innerHTML += `
            <div class="mb-3">
              <label for="course_name" class="form-label">Course Name</label>
              <input type="text" class="form-control" id="course_name" placeholder="${response.data.course_name}" name="course_name" disabled>
            </div>
          `;
                    openEnrollModal()
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    }
    function closeModal() {
        var EnrollModal = new bootstrap.Modal(document.getElementById('modal-dialog'));
        EnrollModal.hide();
        document.getElementById('course_enroll_modal_body').innerHTML = '';
        localStorage.removeItem("course")
    }
</script>

{% endblock content %}
