<!-- Footer Section -->
<footer id="contact-us" class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Contact Us</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Sector 8C, Madhya Marg,
                                    Chandigarh 160009</span></li>
                            <li><a href="#" style="text-decoration: none;"><span class="icon icon-phone" style="text-decoration: none;"></span><span class="text">+919988094693,
                                        +917719707307</span></a></li>
                            <li><a href="mailto:info@scholartrail.org" style="text-decoration: none;"><span class="icon icon-envelope"></span><span
                                        class="text">info@scholartrail.org</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if blogs %}
            
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Recent Blog</h2>
                    {% for blog in blogs %}
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" href="{% url 'blog_detail' blog.id %}" style="background-image: url('{{ blog.image.url }}');text-decoration:none;"></a>
                        <div class="text">
                            <h3 class="heading"><a
                                    href="{% url 'blog_detail' blog.id %}" style="text-decoration:none;">{{blog.content|truncatechars:20}}</a></h3>
                            <div class="meta">
                                <div><a href="#" style="text-decoration:none;"><span class="icon-calendar" ></span> {{blog.created_at|date:"F"}}
                                        {{blog.created_at|date:"d"}}, {{blog.created_at|date:"Y"}}</a></div>
                                <div><a href="#" style="text-decoration:none;"><span class="icon-person" style="text-decoration:none;"></span> Admin</a></div>
                                <div><a href="#" style="text-decoration:none;"><span class="icon-chat" style="text-decoration: none;"></span> {{blog.blog_comments.count}}</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'home-view' %}" style="text-decoration:none;" ><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                        <li><a href="#" onclick="navigate('about-us')" style="text-decoration:none;"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                        <li><a href="#" onclick="navigate('course-section')" style="text-decoration:none;"><span class="ion-ios-arrow-round-forward mr-2"></span>Courses</a></li>
                        <li><a href="#" onclick="navigate('trainers-section')" style="text-decoration:none;"><span class="ion-ios-arrow-round-forward mr-2"></span>Trainers</a></li>
                        <li><a href="{% url 'blogs-list' %}" style="text-decoration:none;"><span class="ion-ios-arrow-round-forward mr-2"></span>Blogs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="https://www.instagram.com/scholartrail57/" target="_blank"><span class="icon-instagram"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/JesikaAccurateIELTS.57" target="_blank"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/scholartrail/" target="_blank"><span class="icon-facebook"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
  Copyright &copy;2024 All rights reserved | Made By <a href="https://virtualmodify.in" class="text text-danger fw-bolder" target="_blank">Virtual Modify</a>
  </p>
          </div>
        </div>
    </div>
</footer>
