{% extends "index.html" %}
{% block title %}Scholar Trail - Blog{% endblock title %}
{% block content %}
{% if blogs %}

<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Recent</span> Blogs</h2>
          </div>
        </div>
				<div class="row">
                    {% for blog in blogs %}
                    
                    <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'blog_detail' blog.id %}" class="block-20 d-flex align-items-end" style="background-image: url('{{blog.image.url}}');">
								<div class="meta-date text-center p-2">
                <span class="day">{{blog.created_at|date:"d"|upper}}</span>
                  <span class="mos">{{blog.created_at|date:"b"|upper}}</span>
                  <span class="yr">{{blog.created_at|date:"Y"}}</span>
                </div>
              </a>
              <div class="text bg-white p-4">
                <h3 class="heading"><a href="{% url 'blog_detail' blog.id %}">{{blog.title_name}}</a></h3>
                <p>{{blog.content|truncatechars:50}}</p>
                <div class="d-flex align-items-center mt-4">
	                <p class="mb-0"><a href="{% url 'blog_detail' blog.id %}" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
	                <p class="ml-auto mb-0">
	                	<a href="#" class="mr-2">Admin</a>
	                	{% comment %} <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a> {% endcomment %}
	                </p>
                </div>
              </div>
            </div>
          </div>
                    {% endfor %}
          
        </div>
			</div>
		</section>

    {% else %}
    <h1>No Blog Data</h1>

{% endif %}

{% endblock content %}