  {% extends "index.html" %}
  {% block title %}Scholar Trail - Blog Details{% endblock title %}
  {% block content %}
  <section class="ftco-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 ftco-animate">

                  <h2 class="mb-3">{{ blog_data.title_name|default:"" }}</h2>
                  <img src="{{ blog_data.image.url }}" alt="" class="img-fluid">
                  <p>{{ blog_data.content|linebreaks|default:"" }}</p>

                  <div class="pt-5 mt-5">
                      {% if blog_data.blog_comments.count != 0 %}
                      <h3 class="mb-5 h4 font-weight-bold">{{ blog_data.blog_comments.count }} Comments</h3>
                      {% endif %}
                      <ul class="comment-list">
                          {% for comment in blog_data.blog_comments.all %}
                          <li class="comment">
                              <div class="vcard bio">
                                  <img src="{{ comment.profile_picture.url }}" alt="{{ comment.full_name }}">
                              </div>
                              <div class="comment-body">
                                  <h3>{{ comment.full_name|default:"" }}</h3>
                                  <div class="meta mb-2">{{ comment.created_at|date:"g:iA, F j, Y" |default:""}}</div>
                                  <p>{{ comment.message }}</p>
                              </div>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
                <div class="container pt-4">
                  <h1>Leave a Comment</h1>
                  <form method="POST" id="form">
                    {% csrf_token %}
                    <div id="enroll-message"></div>
                    {{ form.as_p }}
                    <button type="submit" onclick="submitHandler(event,'{{blog_data.id}}')" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
              {% comment %} {% if blogs.count >= 2 %} {% endcomment %}
              <div class="col-lg-4 sidebar ftco-animate">
                  {% for other_blog in blogs %}
                  <div class="sidebar-box ftco-animate">
                    <img src="{{other_blog.image.url}}" width="300px" style="object-fit:contain;" alt="{{other_blog.title_name}}">
                      <h3>{{ other_blog.title_name|default:"" }}</h3>
                      <p>{{ other_blog.content|truncatechars:50|default:"" }}</p>
                      <p class="mb-0"><a href="{% url 'blog_detail' other_blog.id %}" class="btn btn-primary">Read More<span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                  {% endfor %}
              </div>
              {% comment %} {% endif %} {% endcomment %}
          </div>
      </div>
  </section>
  {% include "includes/footer.html" %}
  <script>

      function submitHandler(e,id) {
        console.log(id)
        e.preventDefault();
        $.ajax({
          type: 'POST', 
          url: '/blogs/blog/'+id+'/comment/', 
          data: $('#form').serialize(), // our form data
          dataType: 'json', // what type of data do we expect back from the server
          success: function (response) {
            $('.error-message').remove();
            if (response.status === 201) {
              document.getElementById('enroll-message').innerHTML = `
                        <div class="alert alert-success" role="alert">
                            ${response.message}
                        </div>
                    `;
              const form = document.getElementById('form')
              form.reset()
              setTimeout(function () {
                $('#enroll-message').fadeOut('slow');
                window.location.reload()
              }, 4000);
            } else if (response.status === 400 && response.errors) {
              $.each(response.errors, function (field, error) {
                var inputField = $('#id_' + field);
                inputField.after('<div class="error-message text-danger">' + error + '</div>');
              });
            } else {
              console.error("Something Went Wrong")
            }
          }, 
          error: function (error) {
            console.log(error);
          }
        });
      }
  </script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
{% endblock content %}
